header{
    display: inline-block;
    font-family: WorkSans-regular;
    font-size: 12px;
    margin: 90px;
}

ula {
    display: inline;
    float: left;
    list-style-type: none;
    overflow: hidden;
    background-color: #FFFFFF;
    columns: right;
}

ul {
    display: inline;
    float: right;
    list-style-type: none;
    overflow: hidden;
    background-color: #FFFFFF;
    columns: left;
}

li {
    float: right;
}

li a {
    display: block;
    color: #00273C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

body {
    font-size: 16px;
    margin: 90;
    font-family: WorkSans-SemiBold;
    font-size: 24px;
    color: #00273C;
}

li a:hover:not(.active) {
    background-color: #0;
}

.active {
    border: #00273C;
}

h1{
    font-size:78px
}

h3{
    font-size:78px;
}